<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="about-us">
			<img src="/img/about_us/bg.jpg" alt="青海恒信融锂业科技有限公司" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt active">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/partner_show" class="menu__item_txt">合作伙伴</a></li>
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_tab">
				<div class="tab__nav clearfix">
					<a href="javascript:;" class="tab__nav__item active">企业概况</a>
					<a href="javascript:;" class="tab__nav__item">所处区位</a>
					<a href="javascript:;" class="tab__nav__item">投资者关系</a>
					<a href="javascript:;" class="tab__nav__item">企业管理</a>
					<a href="javascript:;" class="tab__nav__item">企业文化</a>
				</div>
				<div class="viewport__content tab__content">
					<div class="tab__content__cnt active">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner1.jpg" alt="企业品牌-青海恒信融锂业科技有限公司">
						</div>
						<div class="des">
							青海恒信融锂业科技有限公司于2014年成立于青海省格尔木市，2016年7月1日公司注册地搬迁至海西州州府德令哈市，注册资金3826万元，从事锂、钾、硼、镁盐湖资源产品的研究开发、销售和新材料应用等；2015年2月，上市公司斯太尔（000760）对恒信融增资1.53亿，携手进军新能源产业。公司的年产2万吨碳酸锂项目属于柴达木国家级循环经济试验区内的项目，同时也是省重点项目，采用全新的膜工艺，以低污染、高回收率的方式提取电池级碳酸锂。我公司热忱期望与各界同仁携手一道，为共同推进中国的锂电产业发展不懈努力！
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner2.jpg" alt="旗下公司-青海恒信融锂业科技有限公司">
						</div>
						<div class="des">
							<p>生产厂址：青海恒信融锂业科技有限公司生产基地位于青海省海西州G315国道K900公里处。</p>
							<p>办公地址：公司的管理中心和研发中心在青海省海西州德令哈市。</p>
							<p>销售地址：公司的销售总部位于上海市普陀区真光路555号。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner3.jpg" alt="企业概况-青海恒信融锂业科技有限公司">
						</div>
						<div class="des">
							<p>2015年2月，上市公司斯太尔动力（000760）对恒信融增资1.53亿，成为公司的第一大股东，占股51%。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner4.jpg" alt="企业管理-青海恒信融锂业科技有限公司">
						</div>
						<div class="des">
							<p>公司目前已通过ISO9001质量管理体系认证以及OHSAS18001职业健康安全管理体系认证。</p>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="as__banner txt-c">
							<img src="/img/about_us/banner5.jpg" alt="企业文化-青海恒信融锂业科技有限公司">
						</div>
						<div class="des">
							<div class="des__item">
								<div class="p1">企业愿景</div>
								<div>做盐湖资源的开拓者和创新者</div>
							</div>
							<div class="des__item">
								<div class="p1">核心价值观</div>
								<div>诚实、责任、创新、共赢</div>
							</div>
							<div class="des__item">
								<div class="p1">企业使命</div>
								<div>推动盐湖资源综合利用和开发</div>
							</div>
							<div class="des__item">
								<div class="p1">人才理念</div>
								<div>德才并举、重能酬绩</div>
							</div>
							<div class="des__item">
								<div class="p1">技术理念</div>
								<div>专注精深、开放创新</div>
							</div>
							<div class="des__item">
								<div class="p1">社会责任</div>
								<div>支援西部、注重环保</div>
							</div>
						</div>
					</div>
					<div class="tab__content__cnt">
						<div class="zz__slider">
							<div class="bd">
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/1.jpg" alt="荣誉证书-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/2.jpg" alt="荣誉证书-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/3.jpg" alt="荣誉证书-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/4.jpg" alt="荣誉证书-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/5.jpg" alt="税务登记证-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/6.jpg" alt="相关许可证-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/7.jpg" alt="相关证书-陕西帝奥电梯">
									</li>
								</ul>
								<ul class="pic-list">
									<li>
										<img src="/img/about_us/zz/8.jpg" alt="组织结构代码正本-陕西帝奥电梯">
									</li>
								</ul>
							</div>
							<div class="hd">
								<div class="arrow">
									<a class="next"></a>
									<a class="prev"></a>
								</div>
								<ul >
									<li>荣誉证书1</li>
									<li>荣誉证书2</li>
									<li>荣誉证书3</li>
									<li>荣誉证书4</li>
									<li>税务登记证</li>
									<li>相关许可证</li>
									<li>相关证书</li>
									<li>组织结构代码正本</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
		<script type="text/javascript">
			$(function () {
				Tab.enable();
				jQuery(".zz__slider").slide({
					effect:"left",
					autoPlay:true
				});
			});
		</script>
	</body>
</html>