<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="post-new backend">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
                        <li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
                        <li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">企业介绍</a></li>
                        <li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
                        <li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">产品介绍</a></li>
                        <!--<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">合作伙伴</a></li>-->
                        <!--<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>-->
                        <!--<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>-->
                        <li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">行业链接</a></li>
                        <li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
                        <li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_post-new">
				<div class="viewport__content">
					<form action="/post_new" method="post">
						<div class="form__item clearfix">
							<label for="post__title" class="float-l">新闻分类</label>
                            <select name="newtype" required="required" id="post__type">
                                <option value="1" selected>新闻媒体</option>
                                <option value="2">市场活动</option>
                                <option value="3">团建分享</option>
                            </select>
						</div>
						<div class="form__item clearfix">
							<label for="post__title" class="float-l">新闻标题</label>
							<input type="text" required="required" name="newtitle" id="post__title">
						</div>
						<div class="form__item clearfix">
							<label for="post_content" class="float-l">新闻内容</label>
							<textarea name="newcontent" required="required" id="post__content"></textarea>
						</div>
						<div class="form__item txt-c">
							<button type="submit" required="required" class="submit-btn">确认发布</button>
						</div>
						<input type="hidden" id="hidden">
					</form>
				</div>
			</div>
			<% include footer %>
			<script src="/js/postImg.js"></script>
		</div>
	</body>
</html>