<!DOCTYPE html>
<html>
	<head>
		<% include head %>
	</head>
	<body>
		<div class="product-show">
			<img src="/img/product_show/bg.jpg" alt="青海恒信融锂业科技有限公司" class="page__bg">
			<div class="page-nav">
				<div class="nav-content common-w clearfix">
					<a href="/" class="logo-container float-l"></a>
					<ul class="nav__menu float-r clearfix">
						<li class="nav__menu_item float-l"><a href="/" class="menu__item_txt">首页</a></li>
						<li class="nav__menu_item float-l"><a href="/about_us" class="menu__item_txt">企业介绍</a></li>
						<li class="nav__menu_item float-l"><a href="/new_center" class="menu__item_txt">动态要闻</a></li>
						<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt active">产品介绍</a></li>
						<!--<li class="nav__menu_item float-l"><a href="/product_show" class="menu__item_txt">合作伙伴</a></li>-->
						<!--<li class="nav__menu_item float-l"><a href="about_us" class="menu__item_txt">关于我们</a></li>-->
						<!--<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">客户案例</a></li>-->
						<li class="nav__menu_item float-l"><a href="/custom_case" class="menu__item_txt">行业链接</a></li>
						<li class="nav__menu_item float-l"><a href="/recruit" class="menu__item_txt">加入我们</a></li>
						<li class="nav__menu_item float-l"><a href="/contact_us" class="menu__item_txt">联系我们</a></li>
					</ul>
				</div>
			</div>
			<div class="viewport viewport_ps">
				<div class="viewport__content">
					<h1 class="viewport__title">产品介绍</h1>
					<div class="product-wrapper">
						<div class="product-list">
							<a href="" class="item">
								<div class="item__pic">
									<img src="/img/product_show/demo.jpg" alt="青海恒信融锂业科技有限公司">
									<div class="item__title">电池极碳酸锂</div>
								</div>
								<div class="item__des"><b>产品描述：</b>恒信融公司生产符合行业标准的各种规格碳酸锂，主要产品为电池级碳酸锂。</div>
							</a>
							<a href="" class="item">
								<div class="item__pic">
									<img src="/img/product_show/demo.jpg" alt="青海恒信融锂业科技有限公司">
									<div class="item__title">电池极碳酸锂</div>
								</div>
								<div class="item__des"><b>产品描述：</b>恒信融公司生产符合行业标准的各种规格碳酸锂，主要产品为电池级碳酸锂。</div>
							</a>
							<a href="" class="item">
								<div class="item__pic">
									<img src="/img/product_show/demo.jpg" alt="青海恒信融锂业科技有限公司">
									<div class="item__title">电池极碳酸锂</div>
								</div>
								<div class="item__des"><b>产品描述：</b>恒信融公司生产符合行业标准的各种规格碳酸锂，主要产品为电池级碳酸锂。</div>
							</a>
							<a href="" class="item">
								<div class="item__pic">
									<img src="/img/product_show/demo.jpg" alt="青海恒信融锂业科技有限公司">
									<div class="item__title">电池极碳酸锂</div>
								</div>
								<div class="item__des"><b>产品描述：</b>恒信融公司生产符合行业标准的各种规格碳酸锂，主要产品为电池级碳酸锂。</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<% include footer %>
		</div>
	</body>
</html>